  <div class='col-xs-9'>
    <h2>books</h2>

    <table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<tr>
<td><%= review.title %></td>
<td><%= review.body %></td>
<td><%= link_to "Show", review %></td>
<td><%= link_to "Edit", edit_review_path(review.id) %></td>
<td><%= link_to "Destroy", review_path(review.id), method: :delete,"data-confirm" => "Are you sure?" %>
</td></tr>
<% end %>
</tbody></table>

</div>
      </div>
    </div>


  </body>
</html>
