<div class='container'>
        <% if flash[:notice] %>
          <p id="notice">
            <%= flash[:notice] %>
          </p>
        <% end %>

    <div class='row'>
        <div class='col-xs-3'>
           <h2>User info</h2>
                  <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
            <table class='table'>
                <tr>
              	  <th>name</th>
              	  <th><%= current_user.name %></th>
                </tr>
                <tr>
              	  <th>introduction</th>
              	  <th><%= current_user.body %></th>
                </tr>
            </table>
            <!-- <div class="row"> -->
              <%= link_to '　', edit_user_path(current_user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %><br><br>

            <h2>New book</h2>
              <%= form_for(@post) do |f| %>
                <div class="field row">
                  <h5>Title</h5>
                    <%= f.text_field :title,class:"col-xs-12" %>
                </div>

                <div class="field row">
                  <h5>Opinion</h5>
                    <%= f.text_area :body,class:"col-xs-12" %>
                </div>

                <input type="submit" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
            <% end %>
        </div>
<!-- </div> -->

        <div class='col-xs-9'>
              <h2>Books</h2>

                  <table class='table table-hover table-inverse'>
                    <thead>
                      <tr>
                        <th class=col-xs-1></th>
                        <th class=col-xs-2>Title</th>
                        <th>Opinion</th>
                        <th colspan="6"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @post_image.each do |book| %>
                        <tr>
                          <td>
                            <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
                          </td>
                            <td><%= link_to book.title, post_image_path(book.id) %></td>
                          <td>
                            <%= book.body %>
                        </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <div class="text-center">
                  <%#= paginate @users, class: "pagenate" %>
                </div>
        </div>
      </div>
</div>


