<h2>New book</h2>
<%= form_for(@post_image) do |f| %>

<th><h5>Title</h5>
  <%= f.text_field :title %></th>
<h5>Body</h5>
<%= f.text_area :body %><br>


<br><%= f.submit 'Create Book' %>
<% end %>


 <% @post_images.each do |post| %>
        <th><%= post.title %></th>
        <th><%= post.body %></th><br>
        <% end %>